<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>andrea bibiana | Afaya</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-normalize@1.0.0/modern-normalize.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@200;400;800&family=Shrikhand&display=swap" rel="stylesheet">  
  <link rel="preconnect" href="https://fonts.gstatic.com">
</head>

<body>
  <div class="container">
    <article class="feature">
      <h1>Afaya</h1>
      <div class="lead">
        <p>“I cry, I cry, your mother’s blood that drives you mad, great happiness in mortals never lasting, but like a sail of a swift ship, which a god shook up and plunged it with terrible troubles into the greedy and deadly waves of sea.”</p>
      </div>
      <div class="cols">
        <div>
          <p>Afaya es un proyecto personal sobre el que me gusta mantener cierto misticismo.</p>
  
            <p>La paleta de colores son morados y verdes fríos, elegidos para representar la magia y lo sobrenatural.</p>
  
            <figure class="mt-2 mb-2">
              <figcaption><i>Branding</i> en Facebook.</figcaption>
              <img src="<%= require('../img/2017-afaya-01.jpg') %>" alt="Branding de Afaya en Facebook" class="zoom-right" />
            </figure>
            
            <p>Para la tipografía general se eligió una serif con cierto carácter de imprenta antigua, que da una noción de contexto histórico.</p>
            <figure class="mt-2">
              <img src="<%= require('../img/2017-afaya-03.jpg') %>" alt="Detalle de tipografía de Afaya" class="zoom-right" />
            </figure>
            
        </div>
        <div>
          
          <p>Las imágenes son evocativas del esoterismo y en la implementación web se utilizan animaciones sencillas para dar la sensación de elementos que flotan a nuestro alrededor.</p>
          <figure class="mt-2 mb-2">
            <figcaption>“Elige una carta.”</figcaption>
            <img src="<%= require('../img/2017-afaya-02.jpg') %>" alt="Detalle de interfaz Afaya" class="zoom-left" />
          </figure>
          <p>La interfaz central de la página web asemeja un set de cartas de tarot que pueden voltearse para revelar el futuro (o el “destino”, la página a la que se irá si se hace click).</p>
          
          
        </div>
      </div>
  
    </article>
  </div>
</body>
</html>