<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>andrea bibiana | Keane</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-normalize@1.0.0/modern-normalize.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@200;400;800&family=Shrikhand&display=swap" rel="stylesheet">  
  <link rel="preconnect" href="https://fonts.gstatic.com">
</head>

<body>
  <div class="container">
    <article class="feature">
      <h1>Keane</h1>
      <div class="lead">
        <p>Jang Laeyoung, mejor conocido como Keane, es un ex jugador profesional de League of Legends que continúa
          su carrera en el mundo de los videojuegos como <i>streamer</i>.</p>
      </div>
  
  
  
      <div class="cols">
        <div>
          <p>Cuando Keane anunció su intención de alejarse de los videojuegos competitivos y enfocarse en su
            <i>stream</i> de tiempo completo, presuntosamente lo contacté para preguntarle si le interesaba que
            le ayudara con el aspecto gráfico de su nueva marca.</p>
  
            <figure class="mt-2">
              <figcaption>Propuestas de estilo para Keane.</figcaption>
              <img class="zoom-right" src="<%= require('../img/2018-keane-01.jpg') %>" alt="Branding options for Keane" />
            </figure>
  
            <p>
  
              Intenté preguntarle al respecto de sus preferencias, pero no fue un cliente
              particularmente cooperativo, así que le presenté diferentes propuestas de estilo, tratando de ofrecerle distintos caminos hacia los cuales llevar su imagen. Él eligió la versión con los azules en tonos apagados, bajo contraste y fuente moderna.
          </p>
  
          
  
        </div>
        <div>
          <p>El trabajo realizado fue un paquete de recursos gráficos para Twitter, Youtube, Facebook y Twitch.</p>
          <figure class="mt-2">
            <figcaption>Previsualización de diseño para Twitch.</figcaption>
            <img class="zoom-left" src="<%= require('../img/2018-keane-02.jpg') %>" alt="Branding para Twitch de Keane" />
          </figure>
          
          
          <p>Al año siguiente, Keane se convirtió en un streamer muy popular y firmó un contrato con TSM, una
            organización gigante en el ámbito de los videojuegos competitivos. Su marca ha cambiado
            mucho desde entonces, pero el recuerdo queda.</p>
  
            <figure class="mt-2">
              <figcaption>Quiero creer que este fue un cliente satisfecho.</figcaption>
              <blockquote class="twitter-tweet" data-dnt="true"><p lang="en" dir="ltr">thanks for new twitter header <a href="https://twitter.com/edgyhoon?ref_src=twsrc%5Etfw">@edgyhoon</a> !! :D</p>&mdash; Keane (@ly_keane) <a href="https://twitter.com/ly_keane/status/1072647169650409472?ref_src=twsrc%5Etfw">December 12, 2018</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </figure>
        </div>
      </div>
  
    </article>

  </div>

</body>

</html>