<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>andrea bibiana | La Salle Cancún Radio</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-normalize@1.0.0/modern-normalize.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@200;400;800&family=Shrikhand&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
</head>

<body>
  <div class="container">
    <article class="feature">
      <h1>La Salle Cancún Radio</h1>
      <div class="lead">
        <p>Durante mi segundo semestre de Comunicación en La Salle, se decidió que nuestra generación se encargaría de
          revivir la estación de radio universitaria, “(...) con el objetivo de ser una radio universitaria de calidad
          con contenido cultural, educativo y entretenido...”</p>
      </div>



      <div class="cols">
        <div>
          <p> La forma más fácil, económica y práctica era hacerlo de forma digital, a través de un <i>stream</i> 24/7
            complementado con un sistema de podcasts. Al tener yo cierta experiencia y entendimiento de cómo funcionaban
            la web y la transmisión digital cosas, obtuve un papel importante en organizar, crear e implementar el sitio
            y la infraestructura de transmisión.</p>
          <p>Para este proyecto se utilizó Wordpress como CMS y se se creó un tema a medida.</p>



          <figure class="mt-2">
            <figcaption>Maqueta preliminar de LSCR.</figcaption>
            <img src="<%= require('../img/2010-LSCR-01.jpg') %>" alt="Maqueta LSCR" class="zoom-right" />
          </figure>
        </div>
        <div>
          <figure class="mb-2">
            <figcaption>Fragmentos de trabajo LSCR.</figcaption>
            <img src="<%= require('../img/2010-LSCR-02.png') %>" alt="Fragmentos de trabajo LSCR" class="zoom-left" />
          </figure>
          <p>Hice una propuesta de trabajo para continuar con la administración de la estación de radio una vez que el
            semestre diera por terminado, y fue así como conseguí el puesto de medio tiempo como Becaria de la Escuela
            de Comunicación. Mis labores incluían no sólo actividades administrativas relativas a la radio, sino también
            el desarrollo de productos web para difusión de la carrera de Comunicación.</p>
          <figure class="mt-2">
            <figcaption>Prototipo para portal de la Escuela de Comunicación.</figcaption>
            <img src="<%= require('../img/2010-LSCR-03.jpg') %>" alt="Prototipo portal de la Escuela de Comunicación" class="zoom-left" />
          </figure>

        </div>
      </div>

    </article>
  </div>
</body>

</html>