/* solid */

$black:     #121113;
$darkgreen: #222725;
$olive:     #899878;
$lightgreen: #E4E6C3;
$white:     #F2F3E2;

/* gradients */

$whiteToLightgreen: linear-gradient(to right, #f2f3e3, #F3F6CA);