<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>andrea bibiana | Selección de trabajo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-normalize@1.0.0/modern-normalize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@200;400;800&family=Shrikhand&display=swap" rel="stylesheet">  
    <link rel="preconnect" href="https://fonts.gstatic.com">
</head>
<body>
    <div class="menu">
        <a href="index.html">
            <span class="icon-hand-reverse"></span> regresar a perfil
        </a>
    </div>
    <div class="container works">
        <h1>Selección de trabajo</h1>

        <h2>2020</h2>
        <article>
            <figure class="fig-70">
                <img src="<%= require('./img/2020-CFO.jpg')%>" alt="Captura de pantalla: Centro de asistencia" />
            </figure>
            <div class="description ml-2 text-right">
                <h3>Centro de Asistencia de PROYECTO X</h3>
                <p>Concepto, contenido y desarrollo de un Centro de Asistencia para una aplicación móvil de entrega de comida a domicilio. Diseñado en Adobe XD, creado con un framework de Javascript a medida. (Iconografía provista por Utopía Software.)</p>
            </div>
        </article>
        <article>
            <div class="description mr-2">
                <h3>Detalle de Panel de Control SYP</h3>
                <p>Estructura general del sistema de administración para empresa de venta de muebles y servicios de instalación. Desarrollado como componentes de React, usando Tailwind.</p>
            </div>
            <figure class="fig-70">
                <img src="<%= require('./img/2020-SYP-Dash.jpg')%>" alt="Detalle de Panel de Control SYP" />
            </figure>
        </article>
        <h2>2019</h2>
        <article class="featured">
            <h3>Casa Flores</h3>
            <p>Elementos de marca y sitio web.</p>
            <a href="articles/casa-flores.html">ver artículo  <span class="icon-hand"></span></a>
        </article>
        <article>
            <figure class="fig-70">
                <img src="<%= require('./img/2019-curamed.jpg')%>" alt="Captura de pantalla: Curamed" />
            </figure>
            <div class="description ml-2 text-right">
                <h3>Curamed</h3>
                <p>Simple y elegante página informativa para un consultorio médico, con conexión a Doctoralia.</p>
                
                <a href="https://curamed.mx/">ver en línea <span class="icon-hand"></span></a>
            </div>
        </article>
        <article>
            <div class="description mr-2">
                <h3>Healthy Vacation</h3>
                <p>Página web informativa para compañía de asesoramiento turístico. El diseño fue elaborado casi en su mayoría por sus diseñadores, me encargué de trasladarlo a código y añadir detalles de interacción con Javascript.</p>
                
                <a href="https://healthyvacation.es" target="_blank">ver en línea <span class="icon-hand"></span></a>
            </div>
            <figure> 
                <img src="<%= require('./img/2019-HealthyVacation.jpg')%>" alt="Captura de pantalla: Healthy Vacation" />
            </figure>
        </article>
        <h2>2018</h2>
        <article class="featured">
            <h3>Keane</h3>
            <p>Material gráfico para redes sociales.</p>
            <a href="articles/keane.html">ver artículo <span class="icon-hand"></span></a>
        </article>
        <h2>2017</h2>
        <article class="featured">
            <h3>Afaya</h3>
            <p>Proyecto de marca personal.</p>
            <a href="articles/afaya.html">ver artículo  <span class="icon-hand"></span></a>
        </article>
        <h2>2016</h2>
        <article>
            <figure class="fig-70"> 
                <img src="<%= require('./img/2016-xts.jpg')%>" alt="Captura de pantalla: Xtasis Tours" />
            </figure>
            <div class="description ml-2 text-right">
                <h3>Listado de Xtasis Tours</h3>
                <p>Portal de reserva de tours, realizado en equipo usando Laravel y detalles de interacción en Jquery.</p>
            </div>
        </article>
        <article>
            <div class="description mr-2">
                <h3>Círculo Montessori</h3>
                <p>Portal de la escuela Círculo Montessori, conectado a un sistema de administración hecho a medida en Laravel.</p>
            </div>
            <figure class="fig-70"> 
                <img src="<%= require('./img/2015-cm.jpg')%>" alt="Captura de pantalla: Círculo Montessori" />
            </figure>
        </article>
        <h2>2015</h2>
        <article>
            <figure class="fig-70"> 
                <img src="<%= require('./img/2015-gpm.jpg')%>" alt="Detalle de Gran Península Maya" />
            </figure>
            <div class="description ml-2 text-right">
                <h3>Detalle de Gran Península Maya</h3>
                <p>Proyecto para Grupo Xcaret, realizado en conjunto. La base es Laravel. Una maqueta de baja fidelidad fue provista por los diseñadores de Xcaret, así como otros lineamientos visuales a seguir.</p>
                <a href="https://www.granpeninsulamaya.com/" target="_blank">ver en línea  <span class="icon-hand"></span></a>
            </div>
        </article>
        <article>
            <div class="description mr-2">
                <h3>Feeling Mexico</h3>
                <p>Página web informativa para compañía de entretenimiento local, con CMS hecho a medida en PHP.</p>
                <a href="https://web.archive.org/web/20170623055128/http://www.feelingmexico.com/" target="_blank">
                    ver en línea   <span class="icon-hand"></span>
                </a>
            </div>
            <figure class="fig-70"> 
                <img src="<%= require('./img/2014-fm.jpg')%>" alt="Captura de pantalla: Feeling Mexico" />
            </figure>
        </article>
        <h2>2014</h2>
        <article>
            <figure> 
                <img src="<%= require('./img/2014-us.jpg')%>" alt="Captura de pantalla: Utopía Software" />
            </figure>
            <div class="description text-right">
                <h3>Utopía Software</h3>
                <p>La página web informativa de la primera empresa en la que trabajé. Con animaciones CSS y menú off-canvas.</p>
                <a href="https://web.archive.org/web/20150919111416/http://www.utopia-software.net/" target="_blank">
                    ver en línea  <span class="icon-hand"></span>
                </a>
            </div>
        </article>
        <article>
            <div class="description mr-2">
                <h3>otorrinocancun</h3>
                <p>Página web informativa dinámica y responsiva, construida en PHP, con soporte multilenguaje.</p>
            </div>
            <figure class="fig-70"> 
                <img src="<%= require('./img/2014-otorrino.jpg')%>" alt="Captura de pantalla: otorrinocancun" />
            </figure>
        </article>
        <article>
            <figure class="fig-70"> 
                <img src="<%= require('./img/2013-snb.jpg')%>" alt="Captura de pantalla: Shape & Beauty" />
            </figure>
            <div class="description ml-2 text-right">
                <h3>Shape & Beauty</h3>
                <p>Página web estática informativa para clínica de cirugía estética. </p>
            </div>
        </article>
        <h2>2010</h2>
        <article class="featured">
            <h3>La Salle Cancún Radio</h3>
            <p>Proyecto de radio universitaria digital.</p>
            <a href="articles/lscr.html">ver artículo  <span class="icon-hand"></span></a>
        </article>
    </div>
</body>
</html>